		#home {
			background: #3270d2; /* Old browsers */
			background: -moz-linear-gradient(top, #3270d2 0%, #2f6bca 50%, #7db9e8 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3270d2), color-stop(50%,#2f6bca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #3270d2 0%,#2f6bca 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #3270d2 0%,#2f6bca 50%,#7db9e8 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #3270d2 0%,#2f6bca 50%,#7db9e8 100%); /* IE10+ */
			background: linear-gradient(to bottom, #3270d2 0%,#2f6bca 50%,#7db9e8 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3270d2', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
		}

		#h1 {
			font: 40pt "Open Sans", sans-serif;
			font-weight: 200;
			/* text-rendering: optimizeLegibility; 
		 	-webkit-font-smoothing: antialiased; */
		 	color: orange;
		 	opacity: 1;
		 	letter-spacing: 10px;
		}

		/* body tag selector: define a default font. Never use Comic Sans. */
		body {
			font-family: "Comic Sans MS";
		}

		.section {
			font-family: arial;
		}

		.section h2 {
			font-family: Georgia;
		}

		.background {
			background-color: lightblue;
			border: 1.5px solid rgb(121,121,121);
        	border-radius: 10px;
		}

		.text {
			height: 6px;
			font-size: 20px;

			margin-top: 5px;
		}

		.pwd {
			height: 6px;

			font-size: 20px;
			font-weight: bolder;

			margin-top: 5px; 
		}

		.input {
			height: 25px;
			width: 320px;

			border: 1.5px;
			border-radius: 5px;
		}

		.submit {
			height: 40px;
			width: 300px;

			border: 1.5px solid rgb(121,121,121);
			border-radius: 5px;
			background-color: lightyellow;

			font-size: 20px;
			font-weight: bolder;
		}

		.submit:active {
        border: 5px solid rgb(155,155,155);
    }

    /* Show priority 1 at 320px (20em x 16px) */ 
    /*
@media screen and (min-width: 10em) {
   .my-custom-class th.ui-table-priority-2,
   .my-custom-class td.ui-table-priority-2 {
     display: table-cell;
   }
}
*/
/* Show priority 2 at 480px (30em x 16px) */ 
/*
@media screen and (min-width: 20em) {
   .my-custom-class  th.ui-table-priority-3,
   .my-custom-class td.ui-table-priority-3 {
     display: table-cell;
   }
}
*/
.table-stroke thead th {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.table-stroke tbody th,
.table-stroke tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.ui-table-columntoggle-btn {
    display: none !important;
}

